@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      color-scheme: light !important;
        -webkit-font-smoothing: antialiased;
    }
  }

body {
    height: 100%;
    margin: 0;
}



#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.calendar-day--available {
  background-color: #dff0d8; /* Color de fondo verde claro */
  color: #3c763d; /* Texto en verde oscuro para contraste */
  border: 1px solid #3c763d; /* Borde en verde oscuro */
}

.calendar-day--available:hover {
  background-color: #d0e9c6; /* Un verde aún más claro en hover */
  cursor: pointer; /* Cambiar el cursor para indicar que es seleccionable */
}

